$medColor: #8395a7;
$lightColor: #bdc3c7;
$darkColor: #222f3e;
$hoverColor: #1e272e;
$red-color: #ff6b6b;

.pages-container {
    margin-top: 1em;
    h2{
        color: $medColor;
        padding-left: 1em;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
    }
    .dropdown{justify-content: space-between;}
}



.pages-container .navigation li{
    padding: .8em 1em;
    color: $lightColor;
    display: flex;
    align-items: center;
    &:hover{cursor: pointer; background: $hoverColor;}

    .page-identifier i:first-child{
        margin-right: 1em;
    }
}
.pages-container .navigation .active-section{color: $red-color;}