$lightColor: #808e9b;
$selectedColor: #2C3A47;
$red-color: #ff6b6b;



.drop-value {
    display: flex;
    align-items: center;
    p{
        padding-left: 25px;
    }
    &::before{
        content: "";
        position: relative;
        display: flex;
        left: -.8em;
        width: 15px;
        height: 2px;
    }
    padding: .8em;
    margin-left: 1em;
    color: $lightColor;
    &:hover{
        cursor:pointer;
        background: $selectedColor;
    }
}
.is-selected{
    &::before{
        background: $red-color;
    }
    border-left: 1px solid $red-color;
    background: $selectedColor;
}
.not-selected {
    &::before{
        background: $lightColor;
    }
    border-left: 1px solid $lightColor;
}