$lightColor: #808e9b;
$hoverColor: #1e272e;

.is-selected{
    background:#1e272e;
}

.drop-value {
    display: flex;
    align-items: center;
    p{
        padding-left: 25px;
    }
    &::before{
        content: "";
        position: relative;
        display: flex;
        left: -.8em;
        width: 15px;
        height: 2px;
        background: $lightColor;
    }
    border-left: 2px solid $lightColor;
    padding: .8em;
    margin-left: 1em;
    color: $lightColor;
    &:hover{
        cursor:pointer;
        background: $hoverColor;
    }
}