.dropdown{
    transition: transform .2s;
}

.hidden-dropdown{
    overflow:hidden;
    transform: scaleY(0);
    transform-origin: top;
}

.visible-dropdown {
    transform-origin: top;
    transform: scaleY(1);
}

