.row{
    display: flex;
    justify-content: space-between;
    border:1px solid #DDDDDD;

    .name{
        padding: .1em 1em;
        display: flex;
        flex: 1 1 50%;
        align-items: flex-start;
    }
    .divider{

        background-color: #DDD;
        width: 1px;
        flex: 1 1 1px;
    }
}
.row:nth-child(even){
    background: #F9F9F9;
}

